<h1>Tela Feed - DevConnect</h1>
<link rel="stylesheet" href="~/css/feed.css">

    <header class="cabecalho">
      <nav>
        <a href="./feed.html">
          <img
            id="logo-desktop"
            src="../assets/images/logo-devconnect-md.svg"
            alt="Logo-DevConnect"
          />
        </a>
        <a href="./feed.html">
          <img
            id="logo-mobile"
            src="../assets/images/logo-devconnect-sm.svg"
            alt="Logo-DevConnect"
          />
        </a>
        <div class="cabecalho-acoes">
          <a href="./feed.html"
            ><img src="../assets/images/icone-casa-preto.svg" alt="Casa-cinza"
          /></a>
          <a href="#"
            ><img
              src="../assets/images/icone-coracao-preto.svg"
              alt="icone coração preto"
          /></a>
          <a href="#"
            ><img
              class="foto-perfil"
              src="../assets/images/Spirit-Blossom-Kindred-League-Of-Legends-thumb-scaled.jpg"
              alt="Foto de perfil"
          /></a>
        </div>
      </nav>
    </header>
    <main>
      <div class="container-flex-publi">
        <section id="container-section-publi" class="estilo-formulario">
          <article class="card-storie">
            <button type="button">
              <img
                src="../assets/images/Spirit-Blossom-Kindred-League-Of-Legends-thumb-scaled.jpg"
                alt=""
              />
              Dokkaebi
            </button>
          </article>
          <article class="card-storie">
            <button type="button">
              <img
                src="../assets/images/Spirit-Blossom-Kindred-League-Of-Legends-thumb-scaled.jpg"
                alt=""
              />
              Dokkaebi
            </button>
          </article>
          <article class="card-storie">
            <button type="button">
              <img
                src="../assets/images/Spirit-Blossom-Kindred-League-Of-Legends-thumb-scaled.jpg"
                alt=""
              />
              Dokkaebi
            </button>
          </article>
          <article class="card-storie">
            <button type="button">
              <img
                src="../assets/images/Spirit-Blossom-Kindred-League-Of-Legends-thumb-scaled.jpg"
                alt=""
              />
              Dokkaebi
            </button>
          </article>
          <article class="card-storie">
            <button type="button">
              <img
                src="../assets/images/Spirit-Blossom-Kindred-League-Of-Legends-thumb-scaled.jpg"
                alt=""
              />
              Dokkaebi
            </button>
          </article>
          <article class="card-storie">
            <button type="button">
              <img
                src="../assets/images/Spirit-Blossom-Kindred-League-Of-Legends-thumb-scaled.jpg"
                alt=""
              />
              Dokkaebi
            </button>
          </article>
          <article class="card-storie">
            <button type="button">
              <img
                src="../assets/images/Spirit-Blossom-Kindred-League-Of-Legends-thumb-scaled.jpg"
                alt=""
              />
              Dokkaebi
            </button>
          </article>
          <article class="card-storie">
            <button type="button">
              <img
                src="../assets/images/Spirit-Blossom-Kindred-League-Of-Legends-thumb-scaled.jpg"
                alt=""
              />
              Dokkaebi
            </button>
          </article>
          <article class="card-storie">
            <button type="button">
              <img
                src="../assets/images/Spirit-Blossom-Kindred-League-Of-Legends-thumb-scaled.jpg"
                alt=""
              />
              Dokkaebi
            </button>
          </article>
          <article class="card-storie">
            <button type="button">
              <img
                src="../assets/images/Spirit-Blossom-Kindred-League-Of-Legends-thumb-scaled.jpg"
                alt=""
              />
              Dokkaebi
            </button>
          </article>
          <article class="card-storie">
            <button type="button">
              <img
                src="../assets/images/Spirit-Blossom-Kindred-League-Of-Legends-thumb-scaled.jpg"
                alt=""
              />
              Dokkaebi
            </button>
          </article>
          <article class="card-storie">
            <button type="button">
              <img
                src="../assets/images/Spirit-Blossom-Kindred-League-Of-Legends-thumb-scaled.jpg"
                alt=""
              />
              Dokkaebi
            </button>
          </article>
          <article class="card-storie">
            <button type="button">
              <img
                src="../assets/images/Spirit-Blossom-Kindred-League-Of-Legends-thumb-scaled.jpg"
                alt=""
              />
              Dokkaebi
            </button>
          </article>
          <article class="card-storie">
            <button type="button">
              <img
                src="../assets/images/Spirit-Blossom-Kindred-League-Of-Legends-thumb-scaled.jpg"
                alt=""
              />
              Dokkaebi
            </button>
          </article>
          <article class="card-storie">
            <button type="button">
              <img
                src="../assets/images/Spirit-Blossom-Kindred-League-Of-Legends-thumb-scaled.jpg"
                alt=""
              />
              Dokkaebi
            </button>
          </article>
          <article class="card-storie">
            <button type="button">
              <img
                src="../assets/images/Spirit-Blossom-Kindred-League-Of-Legends-thumb-scaled.jpg"
                alt=""
              />
              Dokkaebi
            </button>
          </article>
          <article class="card-storie">
            <button type="button">
              <img
                src="../assets/images/Spirit-Blossom-Kindred-League-Of-Legends-thumb-scaled.jpg"
                alt=""
              />
              Dokkaebi
            </button>
          </article>
          <article class="card-storie">
            <button type="button">
              <img
                src="../assets/images/Spirit-Blossom-Kindred-League-Of-Legends-thumb-scaled.jpg"
                alt=""
              />
              Dokkaebi
            </button>
          </article>
          <article class="card-storie">
            <button type="button">
              <img
                src="../assets/images/Spirit-Blossom-Kindred-League-Of-Legends-thumb-scaled.jpg"
                alt=""
              />
              Dokkaebi
            </button>
          </article>
          <article class="card-storie">
            <button type="button">
              <img
                src="../assets/images/Spirit-Blossom-Kindred-League-Of-Legends-thumb-scaled.jpg"
                alt=""
              />
              Dokkaebi
            </button>
          </article>
          <article class="card-storie">
            <button type="button">
              <img
                src="../assets/images/Spirit-Blossom-Kindred-League-Of-Legends-thumb-scaled.jpg"
                alt=""
              />
              Dokkaebi
            </button>
          </article>
          <article class="card-storie">
            <button type="button">
              <img
                src="../assets/images/Spirit-Blossom-Kindred-League-Of-Legends-thumb-scaled.jpg"
                alt=""
              />
              Dokkaebi
            </button>
          </article>
          <article class="card-storie">
            <button type="button">
              <img
                src="../assets/images/Spirit-Blossom-Kindred-League-Of-Legends-thumb-scaled.jpg"
                alt=""
              />
              Dokkaebi
            </button>
          </article>
          <article class="card-storie">
            <button type="button">
              <img
                src="../assets/images/Spirit-Blossom-Kindred-League-Of-Legends-thumb-scaled.jpg"
                alt=""
              />
              Dokkaebi
            </button>
          </article>
          <article class="card-storie">
            <button type="button">
              <img
                src="../assets/images/Spirit-Blossom-Kindred-League-Of-Legends-thumb-scaled.jpg"
                alt=""
              />
              Dokkaebi
            </button>
          </article>
        </section>
        <section id="criar-publi" class="estilo-formulario">
          <h2>Publicação</h2>
          <form action="">
            <textarea
              name=""
              id="textarea"
              placeholder="informe a sua mensagem"
            ></textarea>
            <div>
              <!-- <div>
                <button class="formulario-botao-azul" type="submit">
                  Finalizar cadastro
                </button>
              </div> -->
              <footer id="foooter2" class="formulario-campos">
                <div>
                  <label id="labell" for="campo-file"
                    >Faça upload da sua imagem:</label
                  >
                  <input type="file" id="campo-file" />
                </div>
                <div>
                  <button
                    id="button2"
                    class="formulario-botao-azul"
                    type="submit"
                  >
                    Postar
                  </button>
                </div>
              </footer>
            </div>
          </form>
        </section>
        <section id="publicacoes" class="estilo-formulario">
          <article class="card-publi">
            <header>
              <a href="#"
                ><img
                  class="foto-perfil"
                  src="../assets/images/Spirit-Blossom-Kindred-League-Of-Legends-thumb-scaled.jpg"
                  alt="Foto de perfil"
                />Dokkaebi</a
              >
            </header>
            <figure>
              <img
                class="image-publicacao"
                src="../assets/images/nova-skin-katarina-escolhida-do-lobo-lol.jpeg"
                alt=""
              />
              <figcaption>
                Dokkaebi:
                <p class="descricao-publicacao">
                  Nova Skin Katarina Escolhida Pelo Lobo
                </p>
              </figcaption>
              <div class="interacoes-publicacao">
                <button type="button"><img src="../assets/images/icone-coracao-vermelho.svg" alt=""></button>
                <button type="button"><img src="../assets/images/icone-comentario-azul.svg" alt=""></button>
                <span>100k curtidas</span>
              </div>
              <button type="button">Ver Todos os comentarios...</button>
            </figure>
          </article>
        </section>
      </div>
    </main>
