<h1>Tela de Perfil - DevConnect</h1>
<link rel="stylesheet" href="~/css/perfil.css">


<header class="cabecalho">
    <nav>
        <a href="feed.html">
            <img id="logo-desktop" src="~/images/logo-devconnect-md.svg" alt="Logo do DevConnect" />
        </a>

        <a href="feed.html">
            <img id="logo-mobile" src="~/images/logo-devconnect-sm.svg" alt="Logo do DevConnect" />
        </a>

        <div class="cabecalho-acoes">
            <a href="feed.html">
                <img src="~/images/icone-casa-preto.svg" alt="" />
            </a>

            <a href="#">
                <img src="~/images/icone-coracao-preto.svg" alt="" />
            </a>

            <a href="#">
                <img class="foto-perfil"
                    src="~/images/Spirit-Blossom-Kindred-League-Of-Legends-thumb-scaled.jpg" alt="" />
            </a>
        </div>
    </nav>
</header>

<main>
    <section id="Foto-Do-Perfil">
        <div>
            <img src="~/images/Spirit-Blossom-Kindred-League-Of-Legends-thumb-scaled.jpg" alt="" />
        </div>

        <div class="info-perfil">
            <h2>Dokkaebi</h2>

            <div class="info-conta">
                <span>3 Publicações.</span>
                <span> 200 seguindo</span>
                <span> 300k seguidores</span>
            </div>

            <div class="info-conta">
                <span>
                    <h5>Ariel Santos</h5>
                </span>
                <a href="#">Editar Perfil</a>
                <a href="../pages/cadastro.html">Sair</a>
            </div>
        </div>
    </section>

    <figure id="publicacao">
        <img src="~/images/icone-galeria-vermelho.svg" alt="" />
        <h3>Publicações</h3>
    </figure>

    <section id="publicacoes-concluida">
        <article class="card-publi">
            <header>
                <a href="#">
                    <img class="foto-perfil"
                        src="~/images/Spirit-Blossom-Kindred-League-Of-Legends-thumb-scaled.jpg" alt="" />
                    Dokkaebi
                </a>
            </header>

            <p>Nova Skin Katarina Escolhida Pelo Lobo</p>

            <div>
                <div class="interacoes-publicacao">
                    <button type="button">
                        <img src="~/images/icone-coracao-vermelho.svg" alt="" />
                    </button>

                    <button type="button">
                        <img src="~/images/icone-comentario-preto.svg" alt="" />
                    </button>

                    <span>100k curtidas</span>

                    <button id="comentarios" type="button">
                        Ver todos os comentários
                    </button>
                </div>
            </div>
        </article>
    </section>

    <section id="publicacoes-concluida">
        <article class="card-publi">
            <header>
                <a href="#">
                    <img class="foto-perfil"
                        src="~/images/Spirit-Blossom-Kindred-League-Of-Legends-thumb-scaled.jpg" alt="" />
                    Dokkaebi
                </a>
            </header>

            <p>
                HOLLOW KNIGHT SILKSONG LANÇOU
            </p>

            <div>
                <div class="interacoes-publicacao">
                    <button type="button">
                        <img src="~/images/icone-coracao-vermelho.svg" alt="" />
                    </button>

                    <button type="button">
                        <img src="~/images/icone-comentario-preto.svg" alt="" />
                    </button>

                    <span>400k curtidas</span>

                    <button id="comentarios" type="button">
                        Ver todos os comentários
                    </button>
                </div>
            </div>
        </article>
    </section>

    <section id="publicacoes-concluida">
        <article class="card-publi">
            <header>
                <a href="#">
                    <img class="foto-perfil"
                        src="~/images/Spirit-Blossom-Kindred-League-Of-Legends-thumb-scaled.jpg" alt="" />
                    Dokkaebi
                </a>
            </header>

            <p>NOVA SKIN DA CHAMPIONS VALORANT</p>

            <div>
                <div class="interacoes-publicacao">
                    <button type="button">
                        <img src="~/images/icone-coracao-vermelho.svg" alt="" />
                    </button>

                    <button type="button">
                        <img src="~/images/icone-comentario-preto.svg" alt="" />
                    </button>

                    <span>200k curtidas</span>

                    <button id="comentarios" type="button">
                        Ver todos os comentários
                    </button>
                </div>
            </div>
        </article>
    </section>
</main>