main {
    /* background-color: #8097B7;*/
    width: 100%;
    min-width: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container-flex-publi {
    /*height: 700px;*/
    width: 90%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#container-section-publi {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: scroll;
    gap: 20px;
}

#container-section-publi::-webkit-scrollbar {
    width: 0;
}

.card-storie>button {
    background-color: transparent;
    border: none;

    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-vermelho-escuro);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: aqua;*/
}

.card-storie>button>img {
    width: 50px;
    height: 50px;
    object-position: center;
    object-fit: cover;
    border-radius: 50%;
}

.formulario-botao-azul {
    width: 135px;
    height: 42px;
    border-radius: 6px;
    color: var(--cor-vermelho-escuro);
    background-color: #6DA9FB;
}

#criar-publi>h2 {
    color: var(--cor-vermelho-escuro);
    font-size: var(--tamanho-fonte-lg);
    font-weight: 700px;
    margin: 10px;
}

#criar-publi>form>textarea {
    width: 98%;
    height: 80px;
    padding: 10px;
    resize: none;
    border-color: var(--borda);
    display: flex;
    margin: 10px;

    color: var(--cor-roxo-claro);
}

#criar-publi>form>textarea::placeholder {
    color: var(--cor-vermelho-escuro);

}

#foooter2 {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    gap: 10px;
}

#labell {
    border-radius: 6px;
}

#publicacoes {
    background-color: #fff;
    width: 100%;
}

.card-publi {
    background-color: #fff;
    width: 100%;
    
}

.card-publi>header>a {
    display: flex;
    align-items: center;
    column-gap: 10px;
    text-decoration: none;
    color: var(--cor-roxo-claro);
    text-transform: lowercase;
}

.image-publicacao {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 500px
}

.card-publi>figure>figcaption {
    color: var(--cor-roxo-claro);
    font-size: var(--tamanho-fonte-md);
    font-weight: 500;
    display: flex;
    align-items: center;
    column-gap: 5px;
    margin: 15px;
    margin-top: 0px;
    order: 2;
}

.card-publi > figure {
    display: flex;
    flex-direction: column;
}

.image-publicacao {
    font-size: var(--tamanho-fonte-sm);
    font-weight: 400;
    flex-wrap: wrap;
    justify-content: space-between;
}

.interacoes-publicacao {
    display: flex;
    width: 100px;
    flex-wrap: wrap;
    justify-content: space-between;
    order: 1;
    margin-left: 15px;
    margin-top: 15px;
}

.interacoes-publicacao>button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.card-publi > figure > button{
    background-color: transparent;
    color: var(--cor-cinza-escuro2);
    border: none;
    font-size: 14px;
    order: 3;
    margin-left: 15px;
    display: flex;
    align-items: flex-start;
}